.charger-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #FFF;

  .bar {
    display: flex;
    align-items: center;
    h3 {
      margin: 0;
      padding: 0 16px;
    }
    box-sizing: border-box;
    padding-bottom: 4px;
  }

  ul.types {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    li {
      margin: 4px;
      display: inline-block;
      border-top-right-radius: 16px;
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
      background-color: #FFF;
      color: #000;
      overflow: hidden;
      box-sizing: border-box;
      padding: 4px 12px;
    }
  }

  ul.reservations {
    list-style: none;
    margin: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 400px;
    li button {
      width: 100%;
      div {
        display: flex;
        align-items: center;
        span {
          flex: 1 1 auto;
          text-align: center;
        }
      }
    }

  }

}
